<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Biodata</title>
    <link rel="stylesheet" href="/static/index.css">

</head>
<body>
    <h1>Pengisian Biodata</h1>
    <form action="/submit" method="POST">
        <label for="name">Nama:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="age">Usia:</label><br>
        <input type="number" id="age" name="age" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="address">Alamat:</label><br>
        <textarea id="address" name="address" rows="4" cols="50" required></textarea><br><br>

        <button type="submit">Kirim</button>
    </form>
</body>
</html>
